In [11]:
#Data retrieved from https://www.kaggle.com/sobhanmoosavi/us-accidents

In [12]:
import pandas as pd
import numpy as np

In [13]:
#Import data
df = pd.read_csv('US_Accidents_Dec20_Updated.csv')
df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [14]:
print(df.shape)

(2906610, 47)

In [15]:
#Check for null values
pd.isnull(df).sum()

ID                             0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                   282821
End_Lng                   282821
Distance(mi)                   0
Description                    0
Number                   1891672
Street                         0
Side                           0
City                         108
County                         0
State                          0
Zipcode                     1114
Country                        0
Timezone                    3430
Airport_Code                6608
Weather_Timestamp          46917
Temperature(F)             67224
Wind_Chill(F)            1183859
Humidity(%)                71270
Pressure(in)               56908
Visibility(mi)             72078
Wind_Direction             63474
Wind_Speed(mph)           307163
Precipitation(in)        1301326
Weather_Condition          71851
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset               110
Civil_Twilight               110
Nautical_Twilight            110
Astronomical_Twilight        110
dtype: int64

In [16]:
#Drop unnecessary columns
to_drop = ['End_Lat', 'End_Lng', 'Description', 'Number', 'Side', 'City', 'Zipcode', 'Country', 'Timezone', 
           'Airport_Code', 'Weather_Timestamp']

df.drop(columns=to_drop, inplace=True, axis=1)

In [19]:
print(df.shape)

(2906610, 36)

In [20]:
#Check that the identifier is unique
df['ID'].is_unique

True

In [21]:
#Set ID as index
df = df.set_index('ID')

In [22]:
df['Severity'].unique()

array([2, 3, 4, 1], dtype=int64)

In [24]:
#Number of unique cities
df['County'].nunique()

1729

In [25]:
#Number of unique zip codes
df['State'].nunique()

49

In [26]:
#Change True?False values so that True=1 and False=0
df["Amenity"] = df["Amenity"].astype(int)
df["Bump"] = df["Bump"].astype(int)
df["Crossing"] = df["Crossing"].astype(int)
df["Give_Way"] = df["Give_Way"].astype(int)
df["Junction"] = df["Junction"].astype(int)
df["No_Exit"] = df["No_Exit"].astype(int)
df["Railway"] = df["Railway"].astype(int)
df["Roundabout"] = df["Roundabout"].astype(int)
df["Station"] = df["Station"].astype(int)
df["Stop"] = df["Stop"].astype(int)
df["Traffic_Calming"] = df["Traffic_Calming"].astype(int)
df["Traffic_Signal"] = df["Traffic_Signal"].astype(int)
df["Turning_Loop"] = df["Turning_Loop"].astype(int)

In [27]:
df.to_csv('US_Traffic_Data_Cleaned.csv')